
:root {
  --color-primary-moderate-blue: #5457b6;
  --color-primary-soft-red: #ed6468;
  --color-primary-light-grayish-blue: #c3c4ef;
  --color-primary-pale-red: #ffb8bb;

  --color-neutral-dark-blue: #324152;
  --color-neutral-grayish-blue: #67727e;
  --color-neutral-light-gray: #eaecf1;
  --color-neutral-very-light-gray: #f5f6fa;
  --color-neutral-white: #ffffff;

  --font-size-paragraph: 16px;
}
* {
  box-sizing: border-box;
  font-size: var(--font-size-paragraph);
}
body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-neutral-very-light-gray);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hover-effect-opacity {
  opacity: 0.5;
}