.EditButton {
  height: 35px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-primary-moderate-blue);
  font-weight: 700;
  font-size: var(--font-size-paragraph);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Rubik", "san-serif";
}
.EditButton img {
  margin: 0 5px;
}
.EditButton:hover {
  opacity: 0.6;
}
