.DeleteCommentModal {
  min-width: 300px;
  max-width: 380px;
  margin: 0 auto;
}
.DeleteCommentModal .BoxContainer {
  padding: 20px;
}
.DeleteCommentModal h2 {
  margin-top: 0 ;
  font-size: 25px;
  font-weight: 500;
  color: var(--color-neutral-dark-blue);
}
.DeleteCommentModal p {
  font-size: 16px;
  color: var(--color-neutral-grayish-blue);
  margin-bottom: 20px;
  line-height: 1.3;
}
.DeleteCommentModal__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DeleteCommentModal__buttons :nth-child(1) {
  background-color: var(--color-neutral-grayish-blue);
}
.DeleteCommentModal__buttons :nth-child(2) {
  background-color: var(--color-primary-soft-red);
}

@media (max-width: 350px) {
  .DeleteCommentModal__buttons .Button {
      padding: 15px;
  }
}